{% extends "base.html"%}

{% import "bootstrap/wtf.html" as wtf %}

{% block titile %}Qiang - Change Password{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><img src="/static/pic/password.png" style="width: 80px; height: 80px"> 更改密码</h1>
</div>
<div class="col-md-4">
    <form class="form" method="POST">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.password, class="form-control password-icon") }}
    {{ wtf.form_field(form.new_password, class="form-control password-icon") }}
    {{ wtf.form_field(form.new_password2, class="form-control password-icon") }}
    {{ wtf.form_field(form.submit) }}
    </form>
    <br>
</div>
{% endblock %}