<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('.profile', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.create_time).format("LLL") }}</div>
            <div class="comment-author"><a href="{{ url_for('.profile', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
            <div class="comment-body">
                {% if comment.disabled %}
                <p><i>此评论已被隐藏</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                    {% if comment.text_html %}
                        {{ comment.text_html | safe }}
                    {% else %}
                        {{ comment.text }}
                    {% endif %}
                {% endif %}
            </div>
            {% if moderate %}
                <br>
                {% if comment.disabled %}
                <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">开启显示</a>
                {% else %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">隐藏评论</a>
                {% endif %}
            {% endif %}
            {% if current_user == comment.author %}
                <br>
                <a class="btn btn-default btn-xs" href="{{ url_for('main.edit_comment', id=comment.id) }}">编辑</a>
                <a class="btn btn-danger btn-xs" href="{{ url_for('main.delete_comment', id=comment.id) }}">删除评论</a>
            {% elif current_user.can(Permission.ADMINISTRATOR) %}
                <br>
                <a class="btn btn-default btn-xs" href="{{ url_for('main.edit_comment', id=comment.id) }}">编辑 [管理员]</a>
                <a class="btn btn-danger btn-xs" href="{{ url_for('main.delete_comment', id=comment.id) }}">删除评论 [管理员]</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
