{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}QiangBlog - Edit Profile Admin{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><img src="/static/pic/edit_profile.png" style="width: 80px; height: 80px;"> 编辑个人资料[管理员]</h1>
</div>
<div class="col-md-4">
    <form class="form" method="POST">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username, class="form-control user-icon") }}
    {{ wtf.form_field(form.email, class="form-control email-icon") }}
    {{ wtf.form_field(form.confirmed) }}
    {{ wtf.form_field(form.role) }}
    {{ wtf.form_field(form.realname, class="form-control name-icon") }}
    {{ wtf.form_field(form.phone, class="form-control phone-icon") }}
    {{ wtf.form_field(form.location, class="form-control location-icon") }}
    {{ wtf.form_field(form.QQ, class="form-control qq-icon") }}
    {{ wtf.form_field(form.wechat, class="form-control wechat-icon") }}
    {{ wtf.form_field(form.weibo, class="form-control weibo-icon") }}
    {{ wtf.form_field(form.about_me) }}
    {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}